@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$green: rgb(82, 138, 77);
$brownish: rgb(228, 159, 81);
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $brownish;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

/* Skeleton */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container {
  padding: 2em;
  flex: 1 1 auto;
  /*grow vertically*/
  //width: 55%;
  text-align: center;
}

#footer {
  height: 2em;
}

/* Center img */
.imgwrap {
  width: 50%; /*or whatever you choose*/
  margin: auto;
}

.imgwrap img {
  display: block;
  width: 100%;
  max-width: 500px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
}

/* Space out */
.button, #quotes, #motto {
  padding: 1em;
}

.button {
  margin-bottom: 3px;
}

/* Center Quotes */
.quotes-wrap {
  width: 85%; /*or whatever you choose*/
  margin: auto;
}

.quotes-wrap #quotes {
  display: block;
  width: 100%;
  max-width: 500px; /*actual quotes width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of quotes*/
}

/* Change the pointer on hover */
.pointer {
  cursor: pointer;
}